<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_for @user, url: user_path(@user) do |usr| %>

  <%= usr.label :username, 'User:' %>
  <%= usr.text_field :username %>
  <br>

  <%= usr.label :email, 'Email:' %>
  <%= usr.text_field :email, placeholder: 'example@example.com' %>
  <br>

  <%= usr.label :password, 'Password:' %>
  <%= usr.password_field :password %>

  <br>
  <%= button_tag 'Submit' %>

<% end %>