<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<!--
<form action="/users" method="post">

  <label for="username">User name:</label>
  <input type="text" name="user[username]">
  <br>

  <label for="email">email:</label>
  <input type="text" name="user[email]">
  <br>

  <label for="password">Password</label>
  <input type="password" name="user[password]">

  <br>
  <button type="submit">Submit</button>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

</form>
-->

<%#= form_tag('/users', method: :post) do %>
<%= form_for @user, url: user_path(@user) do |usr| %>

  <%#= label_tag 'username', 'User:' %>
  <%#= text_field_tag "username" %>

  <%= usr.label :username, 'User:' %>
  <%= usr.text_field :username %>
  <br>

  <%#= label_tag 'email', 'Email:' %>
  <%#= text_field_tag "email" %>

  <%= usr.label :email, 'Email:' %>
  <%= usr.text_field :email, placeholder: 'example@example.com' %>
  <br>

  <%#= label_tag 'password', 'Password:' %>
  <%#= text_field_tag "password" %>

  <%= usr.label :password, 'Password:' %>
  <%= usr.password_field :password %>

  <br>
  <!-- button type="submit">Submit</button -->
  <%= button_tag 'Submit' %>

<% end %>
